* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

html, body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
}
nav {
    width: 100%;
    padding-top: 0.5rem;
}

header {
    background: #fff; 
    position: fixed; 
    left: 0; top: 0; 
    width:100%;
    height: 3.5rem;
    z-index: 10; 
}

header li {
    display: inline-block; 
    margin: 0 8px;
    margin: 0 0.5rem;
    padding: 5px 8px;
    padding: 0.3rem 0.5rem;
    border-radius: 2px; 
    line-height: 1.5;
}

section {
	margin-top: 100px;
	display: block;
  width: 100%;
}

main{
  width: 100%;
  display: inline-block;
}

aside {
    width: 28%;
    height: 1500px;
    background: black;
    display: inline-block;
    margin-top: 7px;
    float: left;
}


h2 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}



.midbox {
    width: 96%;
    height: 200px;
    display: inline-block;
    float: left;
    margin-left: 5px;
    margin-top: 8px;
    margin-bottom: 5px;
    display: block;
    background: purple;
}

.box {
    width: 72%;
    height: 200px;
    display: inline-block;
    float: left;
    margin: 0 auto;
    display: block;
}

.small-box {
    width: 47%;
    height: 300px;
    background: blue;
    display: inline-block;
    float: left;
    margin: 0 auto;
    display: block;
    margin: 6px;
}

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.content {
  font-family: 'Open Sans', serif;
  padding-top: 5%;
  margin: 0 auto;
  max-width: 100%;
}

#photos {
    margin: 0 auto;
    max-width: 81%;
    position: relative;
}

#photos a {
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
}

#photos img {
    position: relative;
    width: 100%;
    margin: 4px;
}


@media screen and (max-width: 720px) {
  section {
    width: 100%;
    float: none;
  }

  .box{
    width: 100%;
    float: none;
    display: inline;
  }

  .small-box{
    width: 100%;
    float: none;
  }
  
  .midbox{
    width: 100%;
    float: none;
  }


aside {
    width: 100%;
    height: 1500px;
    background: black;
    display: inline-block;
    margin-top: 7px;
    margin-left: 6px;
    float: left;
}

  footer {
    clear: none;
  }

}